# ===================================================================
# tpRigToolkit-tools-rigbuilder-dccs-maya requirements file
# ===================================================================

tpRigToolkit-core
tpRigToolkit-tools-rigbuilder